.thumbnail
{
  width:100%;
}

.video-title
{
  font-family:arial;
  margin-top:10px;
  font-weight:bold;
}

.video-author,
.video-stats
{
color:gray;
font-family:arial;
height:4px;
font-size:13px;
}

.profile-pictures
{
  margin-top:10px;
  width:40px;
  border-radius:50px;
}

.video-info-grid
{
  display:grid;
  grid-template-columns:50px 1fr;
}

.video-grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  row-gap:40px;
  column-gap:20px;
}

.thumbnail-row
{
  margin-bottom:10px;
  position:relative;
} 

.video-preview
{
  max-height:280px;
}

.video-time
{
  background-color:black;
  color:white;
  position:absolute;
  bottom:8px;
  right:5px;
  font-family:arial;
  font-size:12px;
  font-weight:500;
  padding-left:2px;
  padding-right:2px;
  padding-top:4px;
  padding-bottom:4px;
  border-radius:2px;
}